* {
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(194, 206, 173);
}

.header-container {
    display: flex;
    justify-content: center;
    color: aliceblue;
    border: 2px dotted black;
}
.header {
    display: flex;
    justify-content: center     ;
    align-content: center;
    /* margin: 1%; */
    padding: 2%;
    border: 2px dotted black;
    width: 68%;
    gap: 50px;
}
.logo-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    border: 2px dotted black;
}
.logo2 {
    color: rgb(12, 160, 12);
}
.Home-header {
    margin-left: auto;
    color: rgb(12, 160, 12);
}
.Search {
    margin-left: 20px;
}
.Language {
    /* border: 2px dotted black; */
    display: flex;
    justify-content: space-between;
    gap: 5px;
    font-size: 12px;
}
.logo {
    font-size: 36px;
}

.Description-container {
    display: flex;
    height: 700px;
    justify-content: center;
    align-items: center;
    border: 2px dotted black;
}
.Description {
    display: flex;
    width: 68%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dotted black;
    font-size: 36px;
    gap: 12px;
    padding: .8% .2% .8% .2%;
    color: aliceblue;
}
.Lower.Description{
    font-size: 24px;
    text-align: center;
    background-color: rgba(29, 27, 27, 0.1);
    /* opacity: .5; */
}

.Upper.Description {
    width: fit-content;
    background-color: rgba(29, 27, 27, 0.1);
}




