* {
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(194, 206, 173);
}

.header-container {
    display: flex;
    justify-content: center;
    color: aliceblue;
    /* border: 2px dotted black; */
}
.header {
    display: flex;
    justify-content: center     ;
    align-content: center;
    /* margin: 1%; */
    padding: 2%;
    /* border: 2px dotted black; */
    width: 68%;
    gap: 50px;
    font-family: 'Open Sans', 'Open Sans', 'Arial', sans-serif;
}

.logo-container {
    /* border: 2px dotted black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.logo {
    font-size: 36px;
    /* border: 2px dotted black; */
}
.logo2 {
    color: rgb(43, 196, 150);
    /* border: 2px dotted black; */
    align-self: flex-start;
}
.Home-header {
    margin-left: auto;
    color: rgb(43, 196, 150);
}
.Search {
    margin-left: 20px;
}
.Language {
    /* border: 2px dotted black; */
    display: flex;
    justify-content: space-between;
    gap: 5px;
    font-size: 12px;
}
.Description-container {
    display: flex;
    height: 900px;
    justify-content: center;
    align-items: center;
    /* border: 2px dotted black; */
}
.Description {
    display: flex;
    width: 68%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px dotted black; */
    font-size: 36px;
    gap: 12px;
    padding: 1% 1% 1% 1%;
    color: aliceblue;
}
.Lower.Description{
    font-size: 24px;
    text-align: center;
    width: fit-content;
    line-height: 1.8;
    background-color: rgba(29, 27, 27, 0.1);
    /* opacity: .5; */
}

.Upper.Description {
    width: fit-content;
    font-size: 36px;
    background-color: rgba(29, 27, 27, 0.1);
}

.About-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px dotted black; */
    height: 350px;
    background-color: white;
}
.About {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 68%;
    padding: .5%;
    font-family: 'Open Sans', 'Open Sans', 'Arial', sans-serif;
}
.About_upper {
    width: fit-content;
    /* border: 2px dotted black; */
    font-size: 47px;
    letter-spacing: 8px;
    font-weight: 100;
}
.About_lower {
    width: 53%;
    text-align: center;  
    /* border: 2px dotted black; */
    line-height: 2;
    font-size: 16px; 
}
.bg-container {
        -webkit-text-size-adjust: 100%;
    text-transform: none;
    word-wrap: break-word;
    font-size: 100%;
    vertical-align: baseline;
    overflow: hidden;
    -webkit-background-size: cover !important;
    background-position: center center !important;
    background: url("background1.jpg") 50% 113px no-repeat fixed;
    opacity: 1;
    height: auto;
    padding: 0px;  
}

.be-section {
    background-color: #ffffff; 
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    
}
.be-section-pad {
    padding-top:20px;
    padding-bottom:0px; 
    /* border: 3px solid green; */
    display: inherit;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.be-row {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
    width: 100%;
    height: 220px;
    gap: 5%;
}
.one-col {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 100%;
    width: 68%;
}
.one-third {
    display: flex;
    /* justify-content: center; */
    flex: 1;
}
/* all p that are direct children of .one-third */
/* if .one-third p (with space only), all p that are descendant of .one-third whether direct child or not*/
.one-third > p {
    flex: 1;
    /* border: 2px solid orange; */
    margin-top: 0;
}
.title-with-icon {
    flex: 3;
}
.title-icon {
    background-color:#26cda4;
    color:#ffffff;
    border: 2px solid #26cda4;
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 28px;
    background: transparent;
    background-color: #26cda4;
    color: #ffffff;
    visibility: visible !important;
}
.title-with-icon > h5 {
    margin: 10px 10px 0 0;
    font-size: 20px;
    font-family: 'Open Sans', 'Open Sans', 'Arial', sans-serif;
    font-weight: 100;
    letter-spacing: 3px;
}
.title-with-icon > p {
    font-size: 14px;
    font-family: 'Open Sans', 'Open Sans', 'Arial', sans-serif;
    line-height: 1.8;
    /* padding: .5%; */
}
.be-shortcode {
    /* border: 1px solid #000000; */
    border-radius: 3px;
    background-color: inherit; 
    color: #000000;
    font-family: 'Open Sans', 'Open Sans', 'Arial', sans-serif;
    padding: 3%;
    text-align:center ;
    /* height: 100%; */
    margin: auto    ;
    width: 100%;
    text-decoration: none;
}
.be-button-wrap.find-out-more {
    height: 50%;
    width: 18%;
    display: flex;
    justify-content: center;
    padding: 0;
    border: 1px solid black;
    border-radius: 3px;
}
.be-row.middle,
.be-row.lower {
    height: 120px;
}
.be-row.lower,
.one-col.lower,
.call-to-action {
    width: 100%;
    display: flex;
    justify-content: center;
}
.call-to-action {
    align-items: center;
    gap: 4%;
    font-family: 'Open Sans', 'Open Sans', 'Arial', sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
}
.mediumbtn {
    border: 1px solid #ffffff;
    background-color: inherit; 
    color: #ffffff;
    padding: .5%;
    text-decoration: none;
    border-radius: 3px;
}

.title-with-icon.be-animate {
    -webkit-text-size-adjust: 100%;
    font: normal normal 14px "Open Sans","Open Sans","Arial",sans-serif;
    color: #7e7e7e;
    line-height: 29px;
    letter-spacing: 0px;
    text-transform: none;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    animation-duration: 1s;
    visibility: visible !important;
    animation-name: fadeInUp;
    margin-bottom: 0 !important;
    padding-left: 100px;
}

.icon-cog,
.icon-tools {-webkit-text-size-adjust: 100%;
    font: normal normal 14px "Open Sans","Open Sans","Arial",sans-serif;
    letter-spacing: 0px;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    margin-bottom: 30px;
    display: inline-block;
    text-align: center;
    
    margin-right: 30px;
    position: relative;
    animation-duration: 1s;
    visibility: visible !important;
    animation-name: fadeInUp;
    border: 1px solid;
    -webkit-border-radius: 50px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 28px;
    background-color: #26cda4;
    color: #ffffff;
}
.icon-palette,
.icon-suitcase {
    -webkit-text-size-adjust: 100%;
    font: normal normal 14px "Open Sans","Open Sans","Arial",sans-serif;
    letter-spacing: 0px;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    word-wrap: break-word;
    vertical-align: baseline;
    background: transparent;
    margin-bottom: 30px;
    display: inline-block;
    text-align: center;
    position: relative;
    animation-duration: 1s;
    visibility: visible !important;
    animation-name: fadeInUp;
    margin-left: 30px;
    margin-right: 0px;
    border: 1px solid;
    -webkit-border-radius: 50px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 28px;
    background-color: #26cda4;
    color: #ffffff;
}
.be-row.services-left,
.be-row.services-right {
    -webkit-text-size-adjust: 100%;
    font: normal normal 14px "Open Sans","Open Sans","Arial",sans-serif;
    color: #7e7e7e;
    line-height: 29px;
    letter-spacing: 0px;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    word-wrap: break-word;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    z-index: 3;
    position: relative;
    
    min-width: fit-content;
    margin: 0 0 0 0;
    align-items: flex-start;
}
.be-row.services-right {
    margin-bottom: 0 !important;   
}
.be-row.services.right::before,
.be-row.services-left::before {
    display: table;
}

.one-half > * {
    /* border: 2px solid brown; */
}
h5 {
    /* border: 2px solid brown; */
    font-size: 20px;
    font-weight: 200;
    color: black;
}
.be-button-wrap.go-to-services {
    height: 50px;
    width: 15%;
    display: flex;
    justify-content: center;
    padding: 0;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 11px;
    letter-spacing: 2px;
    color: #000000;
}
.one-col.column-block {
    -webkit-text-size-adjust: 100%;
    font: normal normal 14px "Open Sans","Open Sans","Arial",sans-serif;
    color: #7e7e7e;
    line-height: 29px;
    letter-spacing: 0px;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    margin-bottom: 60px;
    float: none;
    margin-left: 0;
    flex-direction: column;
    align-items: center;
}
.iconRight {
    flex-direction: row-reverse;
}

.be-row.services {
    height: 40%;
}
.one-half.column-block {
    flex: 1;
    display: flex;
    width: 100%;
}
.title-with-icon.align-right > h5 {
   margin: 10px 0 0 10px;
}

